

<section class="home"> <!-- ESTA ES TODA LA VENTANA DE MI HOME -->
  <div class="cover"> <!-- COVER TRANSPARENCIA NEGRA-->
    <div class="content"> <!-- ESTE ES EL CONTENIDO DE MI HOME -->
      <h1>Estación Espacial BF</h1>
      <p>Bienvenido, a la estación espacial de Bruno Fernandez.<br>Descubramos el espacio juntos! </p>
      <div>
        <button class="btn-home1" [routerLink]="['/app-vista-agregar-naves']" >AGREGAR</button>
        <button class="btn-home2" >VER</button>
      </div>
    </div>
  </div>
</section>
